<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <span class="glyphicon glyphicon-record"></span>
      <% end %>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <% if current_user %>
        <li class="<%= current_page?(projects_path) ||
                       current_page?(root_path) ? 'active' : '' %>">
          <%= link_to "Projects", projects_path %>
        </li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li>
          <%= link_to "Edit account", edit_user_registration_path %>
        </li>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="<%= current_page?(new_user_session_path()) ? 'active' : '' %>">
          <%= link_to "Sign in", new_user_session_path %>
        </li>
        <li class="<%= current_page?(new_user_registration_path) ? 'active' : '' %>">
          <%= link_to "Sign up", new_user_registration_path %>
        </li>

      <% end %>
    </ul>
  </div>
</div>
